<h2>Posts number: {{ postList.length }} </h2>

<div class="row form-group" *ngFor="let post of postList; let i = index">
  <div class="col-xs-10">
    <a class="list-group-item post-container">
      <div class="form-group">
        <div *ngIf="editIndex != i" class="form-group view-post">
          {{post | json}}
            <h4 contenteditable="true" class="list-group-item-heading">{{ post.title }}</h4>
            <p contenteditable="disabled_btn[i]" class="list-group-item-text">{{ post.description }}</p>
        </div>
        <div *ngIf="editIndex == i" class="edit-post">
          <!--edit-->
          <app-add-post [newPost]="post" [mode]="'edit'"></app-add-post>
        </div>
        <div class="form-group">
            <button *ngIf="editIndex != i" class="btn btn-primary a-btn-slide-text" (click)="onEditPost(i)">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                <span><strong>Edit</strong></span>            
            </button>
            <button *ngIf="editIndex == i" class="btn btn-success a-btn-slide-text" (click)="onSavePost(editIndex);">
               <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                <span><strong>Save</strong></span>            
            </button>
            <button class="btn btn-danger a-btn-slide-text" (click)="onDeletePost(i)">
               <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                <span><strong>Delete</strong></span>            
            </button>
        </div>

      </div>
    </a>
  </div>
</div>
